%h1 Listing sources
%div{:class => "media"}
  %div{:class => "media-body"}
    %table{:class => "table table-hover"}
      %thead
        %tr
          %th Path
          %th
          %th
          %th

      %tbody
        - @sources.each do |source|
          %tr
            %td= source.path
            %td= link_to 'Show', source
            %td= link_to 'Edit', edit_source_path(source)
            %td= link_to 'Destroy', source, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Source', new_source_path
