= simple_form_for @medium, html: { multipart: true } do |f|
  - if @medium.errors.any?
    #errors
      %p
        = @medium.errors.count
        Prevented this medium froms saving
      %ul
        - @medium.errors.full_messages.each do |msg|
          %li= msg
  .panel-body
    = f.input :filename, input_html: { class: 'form-control' }
    = f.input :modified_filename, input_html: { class: 'form-control' }

    .row
      .col-md-6
        %h3 Destinations
        #relations
          = f.simple_fields_for :relations do |relation|
            = render 'relation_fields', f: relation
          .links
            = link_to_add_association 'Add Destinations', f, :relations, class: "btn btn-default add-button"
      .col-md-6

  = f.button :submit, class: "btn btn-primary"
%button{:onclick => "getElementById('medium_modified_filename').value=getElementById('medium_filename').value"} Refresh Modified filename
:javascript
  var video = document.querySelector("section.nocontrols video");
  document.querySelector("div.controls button.play").addEventListener('click', function(e) {
    video.play();
  }, false);
  document.querySelector("div.controls button.pause").addEventListener('click', function(e) {
    video.pause();
  }, false);  