%h1 Listing media
%div{:class => "media"}
  %div{:class => "media-body"}
    %table{:class => "table table-hover"}
      %thead
        %tr
          %th Filename
          %th Cnt
          %th
          %th
          %th

      %tbody
        - @media.each do |medium|
          %tr
            %td= medium.filename
            %td= medium.destinations.count
            %td= link_to 'Show', medium
            %td= link_to 'Edit', edit_medium_path(medium)
            %td= link_to 'Destroy', medium, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Medium', new_medium_path
