%h1 Listing destinations
%div{:class => "media"}
  %div{:class => "media-body"}
    %table{:class => "table table-hover"}
      %thead
        %tr
          %th Path
          %th
          %th
          %th

      %tbody
        - @destinations.each do |destination|
          %tr
            %td= destination.path
            %td= link_to 'Show', destination
            %td= link_to 'Edit', edit_destination_path(destination)
            %td= link_to 'Destroy', destination, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Destination', new_destination_path
