!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title VidstickApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div{:class => "container"}
      %ul{:class => "nav nav-tabs"}
        %li= link_to 'welcome', welcome_index_path
        %li= link_to 'sources', sources_path
        %li= link_to 'media',   media_path
    = yield
